@model List<Asistencia>
<div class="col-md-12">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Historial de asistencia</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            


<form asp-controller="Asistencia" asp-action="FiltrarPorDocumento" method="post">
    <div class="form-group">
        <label  for="dni">Ingresar documento:</label>
        <input type="number" class="form-control" id="dni" name="dni" required>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

@if (Model.Count > 0)
{

                <div class="mb-2 border-solid border-grey-light rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
                            <div class="bg-gray-300 px-2 py-3 border-solid border-gray-400 border-b">
                                Resultados:
                            </div>
                            <div class="p-3">
                                <table class="table-responsive w-full rounded">
        <thead>
            <tr class="bg-gray-100">
                <th class="border w-1/2 px-4 py-2">DNI</th>
                <th class="border w-1/4 px-4 py-2">ID EVENTO</th>
                <th class="border w-1/4 px-4 py-2">Fecha y Hora de Entrada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asistencia in Model)  
            {
                <tr>
                    <td class="border px-4 py-2">@asistencia.Dni</td>
                    <td class="border px-4 py-2">@asistencia.ID_evento</td>
                    <td class="border px-4 py-2">@asistencia.Fechahoraentrada</td>
                    
                </tr>
            }
            </tbody>
                                </table>
                            </div>
                        </div>
}
else
{
    <p>No se encontraron asistencias para el DNI proporcionado.</p>
}


                    
        </div>
    </div>
</div>